<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../../css/style.css">

    <title>Create user</title>
</head>
<body>
    <nav class="navbar">
        <a href="../../index.html">Logout</a>
        <a href="profile.html">Profile</a>
        <a href="home.html">Home</a>
    </nav>

    <h1>Create user</h1>
    <hr>

    <label for="">Email</label>
    <input type="email" placeholder="email">
    <br>
    <label for="">Full name</label>
    <input type="text" placeholder="full name">
    <br>
    <label for="">Gender</label>
    <br>
    <label for="">Male</label>
    <input type="radio">
    <label for="">Female</label>
    <input type="radio" checked>
    <br>
    <label for="">Date of birth</label>
    <input type="date" placeholder="date of birth">
    <br>
    <label for="">Username</label>
    <input type="text" placeholder="username">
    <br>
    <label for="">Password</label>
    <input type="password" placeholder="password">
    <br>
    <label for="">Confirm Password</label>
    <input type="password" placeholder="confirm password">
    <br>
    <label for="">Profile picture</label>
    <input type="file" accept="image/*" placeholder="profile picture">
    <br>
    <label for="">Resume</label>
    <input type="file" placeholder="resume">
    <br>
    <label for="">Description</label>
    <br>
    <textarea name="" id="" cols="30" rows="10">Tell us about yourself</textarea>
</body>
</html>