<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../../css/style.css">

    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <a href="../../index.html">Logout</a>
        <a href="profile.html">Profile</a>
        <a href="create-user.html">Create user</a>
    </nav>

    <h1>Home</h1>
    <hr>

    <h2>Welcome to the Dunder Mifflin Portal. Here you'll be able to add new users, see your own profile and look around everywhere.</h2>
    <h2>Have fun!</h2>
</body>
</html>