<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../../css/style.css">

    <title>Profile</title>
</head>
<body>
    <nav class="navbar">
        <a href="../../index.html">Logout</a>
        <a href="home.html">Home</a>
        <a href="create-user.html">Create user</a>
    </nav>

    <h1>Profile</h1>
    <hr>

    <h3>Name</h3>
    <h4>Hello World</h4>

    <h3>Username</h3>
    <h4>hello.world</h4>

    <h3>Role</h3>
    <h4>New user</h4>
</body>
</html>