<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>About Us</title>
</head>
<body>
    <nav class="navbar">
        <a href="../index.html">Home</a>
        <a href="login.html">Login</a>
        <a href="mision-vision.html">Mision-Vision</a>
        <a href="org-structure.html">Organizational Structure</a>
        <a href="values.html">Values</a>
    </nav>

    <h1>About Us</h1>
    <hr>

    <p>Dunder Mifflin is a company devoted to bring the best paper at the most affordable prices to all the companies that need it. We's people's paper, paper people.</p>


    <h2>Renuncia a derechos</h2>
    <p>
        Los (as) autores (as) facultan a la
        carrera de Informática Administrativa del Departamento de Informática adscrito a la Facultad de
        Ciencias Económicas, Administrativas y Contables de la Universidad Nacional Autónoma de
        Honduras a través de sus docentes para socializar el presente trabajo en los medios que estimen
        conveniente así mismo se seden los derechos sobre el mismo. La carrera de Informática
        Administrativa o los docentes no son responsables por el contenido y las implicaciones de lo que esta
        expresado en este documento.
    </p>
</body>
</html>