<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Mision & Vision</title>
</head>
<body>
    <nav class="navbar">
        <a href="../index.html">Home</a>
        <a href="about-us.html">About Us</a>
        <a href="login.html">Login</a>
        <a href="org-structure.html">Organizational Structure</a>
        <a href="values.html">Values</a>
    </nav>

    <h1>Mision</h1>
    <hr>
    <p>Our mission is to bring paper to every corner of the United States of America.</p>
    <br>
    <h1>Vision</h1>
    <hr>
    <p>We envision ourselves as the leading company in this field and we expect to evolve into tech soon.</p>
    
</body>
</html>