<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Organizational Structure</title>
</head>
<body>    
    <nav class="navbar">
        <a href="../index.html">Home</a>
        <a href="about-us.html">About Us</a>
        <a href="login.html">Login</a>
        <a href="mision-vision.html">Mision-Vision</a>
        <a href="values.html">Values</a>
    </nav>

    <h1>Organizational Structure</h1>
    <hr>
    <h1>Corporate NY</h1>       
    <h2>Scranton Branch</h2>    
        <h3>Michael Scott - Regional Manager</h3>     
        <h3>Dwight Schrute - Assistant to the Regional Manager</h3>     
        <h3>James Halpert - Head Salesman</h3>     
        <h3>Stanley - Salesman</h3>     
        <h3>Phyllis Vance - Salesman</h3>     
        <h3>Pamela Bisley - Receptionist</h3>     
        <h3>Angela Kingsley - Head Accounting</h3>     
        <h3>Oscar Martinez - Accounting</h3>     
        <h3>Kevin - Accounting</h3>     
        <h3>Kelly Capoor - Customer Service</h3>     
    <h2>Stanford Branch</h2>    
    <h2>Florida Branch</h2>    
</body>
</html>