<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Core Values</title>
</head>
<body>   
    <nav class="navbar">
        <a href="../index.html">Home</a>
        <a href="about-us.html">About Us</a>
        <a href="login.html">Login</a>
        <a href="mision-vision.html">Mision-Vision</a>
        <a href="org-structure.html">Organizational Structure</a>
    </nav>

    <h1>Core Values</h1>  
    <hr>  
    <div>
        <ol>
            <li>Customer Support Excelence</li>
            <li>We are family</li>
            <li>Fast delivery</li>
            <li>Best prices</li>
            <li>Reliability</li>
            <li>Trust</li>
        </ol>
    </div>
</body>
</html>